{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda por titulo </h1>
{% endblock %}

{% block contenido %}

	  	<form id="formulario" method="post" action=''>{% csrf_token %}
			{{formulario}}
			<input type='submit' value='Realizar Busqueda'/>
		</form>
		
		<hr>
		
		{% if juegos %}
			{% for row in juegos %}
				<br></br>
				<dt><b>Titulo: </b>{{row.titulo}}</dt>
				<dd><img src='{{ row.caratula }}' width="100" height="120" ><dd></dd>
			    <dd> <b>Precio: </b>{{row.precio}} € | <b>Fecha de Lanzamiento: </b>{{row.release}} </dd>
			    <dd> <b>Generos: </b>
			    {% for gen in row.generos %}
			    	{{gen}} 
			    {% endfor %}
				</dd>
				<dd> <b>Descripción: </b> {{row.descripcion}}
				</dd>
						    
			{% endfor %}
		{% endif %}	
  {% endblock %}