

{% extends 'base.html' %}

{% block encabezado %}
<h1> Juegos </h1>
{% endblock %}

  {% block contenido %}
			{% for row in juegos %}

				<br></br>
				<dt><b>Titulo: </b>{{row.titulo}}</dt>
				<dd><img src='{{ row.cover_path }}' width="100" height="120" ><dd></dd>
			    <dd> <b>Precio: </b>{{row.precio}} <b>€</b> | <b>Fecha de Lanzamiento: </b>{{row.release}} </dd>
			    <dd> <b>Generos: </b>
			    {% for gen in row.generos.all %}
			    	{{gen.nombre}} <b>,</b>
			    {% endfor %}
				</dd>
						    
			{% endfor %}
  {% endblock %}
